<% include resource/header.html %>
<div class="container">


    <div id="header">
        <h1>欢迎使用<%= title %></h1>
    </div>
    <div id="page-header">
        <div id="breadcrumb">
              <p>
                <a href="Javascript:window.history.go(-1)">&lt;&lt; 返回</a>
              </p>
        </div>

        <hr/>
        <ul>
            <% for(var i=0; i<fields.length; i++) { %>
            <li><%=fields[i].name +" : "+fields[i].val %></li>
            <% } %>
        </ul>
        <hr/>
        <p id="result_1">此过程大概需要耗时1分钟~~</p>
        <p id="result"></p>
        <a id="down_debug" href = "downloadapk" target="_blank" style="display:none">打包成功，点击下载测试包</a>
        <a id="down_release" href = "downloadapk" target="_blank" style="display:none">打包成功，点击下载正式包</a>
    </div>
    
</div><!-- /.container --> 

<script src="/javascripts/apk_is_sign_ok.js"></script>
<% include resource/footer.html %>
