<% include resource/header.html %>
<div class="container">

 	<div id="header">
   	 <h1>欢迎使用<%= title %></h1>

 	</div>



    	 
 <div id="page-header">
<div id="breadcrumb">
              <p>
                <a href="Javascript:window.history.go(-1)">&lt;&lt; 返回</a>
              </p>
        </div>
            <hr/>
            <ol>

            <li>输入自定义包名，应用名称，上传应用图标。</li>
            <li>点击‘开始打包’按钮,等待程序在后台执行。</li>
            <li>程序在后台执行完毕后，下载即可。</li>
            </ol>
            </div>

    </div>
</div><!-- /.container --> 
<% include resource/footer.html %>