<% include resource/header.html %>
<script src="/javascripts/jquery-3.1.1.js"></script>

<script src="/javascripts/radio_click.js"></script>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/colpick.js"></script>
<script src="/javascripts/colpick_click.js"></script>
<link rel='stylesheet' href='/stylesheets/colpick.css'/>
<script>
    function selectImage(file, item_id) {
        console.log(file.value);
        if (!file.files || !file.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            document.getElementById(item_id).src = evt.target.result;
        }
        reader.readAsDataURL(file.files[0]);
    }
</script>

<div class="container">
    <div class="starter-template">

        <div id="header">
            <h1>欢迎使用<%= title %></h1>
        </div>


        <div id="inputs">
            <form role="form" id="addTaskForm" action="addTask" method="post" enctype="multipart/form-data">
                <div class="form-field-outer">
                    <label for="_frm-iconform-name">应用名</label>
                    <div class="form-field-container">
                        <input id="appname" name="appname" placeholder="请输入应用名称" value="宜昌新闻"
                               class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                               type="text">
                    </div>
                    <div class="form-field-help-text">
                        应用名称最好是中文，不能包含特殊字符，长度请控制在五个字符以内，不能为空
                    </div>
                </div>
                <div class="form-field-outer">
                    <label for="_frm-iconform-name">包名</label>
                    <div class="form-field-container">
                        <input id="packagename" name="packagename" placeholder="packagename" value="com.cnhubei.ycxw"
                               class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                               type="text">
                    </div>
                    <div class="form-field-help-text">
                        包名是客户端唯一标识，请以"com.cnhubei."开头，后面带上有意义的客户端表示。
                    </div>
                </div>
                <div class="form-field-outer">
                    <label for="_frm-iconform-name">版本</label>
                    <div class="form-field-container">
                        <label>
                            <lable_text>versionnmae</lable_text>
                            <input id="versionname" name="versionname" placeholder="请输入版本名称" value="V 1.0"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>

                        <label>
                            <lable_text>versioncode</lable_text>
                            <input id="versioncode" name="versioncode" placeholder="请输入版本号" value="10"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>

                    </div>
                </div>
                <div class="form-field-outer">
                    <label for="_frm-iconform-name">app信息</label>
                    <div class="form-field-container">
                        <label>
                            <lable_text>app.key</lable_text>
                            <input id="app_appkey" name="app_appkey" placeholder="请输入app.key" value="7"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>

                        <label>
                            <lable_text>app.appsecret</lable_text>
                            <input id="app_appsecret" name="app_appsecret" placeholder="请输入app.appsecret"
                                   value="suibiantiande"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>


                        <label>
                            <lable_text>debug_jpush_appkey</lable_text>
                            <input id="debug_jpush_appkey" name="debug_jpush_appkey" placeholder="请输入debug_jpush_appkey"
                                   value="aa123456789"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>

                        <label>
                            <lable_text>release_jpush_appkey</lable_text>
                            <input id="release_jpush_appkey" name="release_jpush_appkey" placeholder="请输入release_jpush_appkey"
                                   value="aa123456789"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>

                        <label>
                            <lable_text>umeng_appkey</lable_text>
                            <input id="umeng_appkey" name="umeng_appkey" placeholder="请输入umeng_appkey"
                                   value="bb123456789"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>

                    </div>
                </div>
                <div class="form-field-outer">
                    <label for="_frm-iconform-name">应用图标</label>
                    <input type="file" name="ic_launcher" id="ic_launcher" accept="image/*"
                           onchange="selectImage(this,'image')" multiple="multiple">
                    <img src="/images/icon_default.png" name="image" id="image" border=0/>
                    <div class="form-field-help-text">
                        <p>应用的图标要求为72*72的png图标。</p>
                        <p> 注：为了在6.0以上系统适配，图标避免使用渐变色和阴影</p>
                    </div>
                </div>


                <div class="form-field-outer">
                    <label for="_frm-iconform-name">是否支持视频</label>
                    <div class="form-field-container">
                        <label id="video_tmp" for="video" value=true>
                            <lable class="radio_on_left" onclick=radio_check(true,"video_tmp","video")>ON</lable>
                            <lable class="radio_off_right" onclick=radio_check(false,"video_tmp","video")>OFF</lable>
                        </label>
                    </div>
                    <input id="video"  name="video"  type="hidden" value=true />
                </div>
                <div class="form-field-outer">
                    <label for="_frm-iconform-name">是否支持音频</label>
                    <div class="form-field-container">
                        <label id="audio_tmp" for = "audio">
                            <lable class="radio_on_left" onclick=radio_check(true,"audio_tmp","audio")>ON</lable>
                            <lable class="radio_off_right" onclick=radio_check(false,"audio_tmp","audio")>OFF</lable>
                        </label>
                    </div>
                    <input id="audio" name="audio" type="hidden" value=true />
                </div>
                <div class="form-field-outer">
                    <label for="_frm-iconform-name">是否支持分享</label>


                    <div class="form-field-container" id="socials_all">
                        <label id="social_tmp" for="social" style="margin-bottom:15px">
                            <lable class="radio_on_left" onclick=socel_click(true,"social_tmp","socials_all","social")>ON</lable>
                            <lable class="radio_off_right" onclick=socel_click(false,"social_tmp","socials_all","social")>OFF</lable>
                        </label>
                        <input id="social" name="social" type="hidden" value=true />

                        <label>
                            <lable_text>wx_key</lable_text>
                            <input id="wx_key" name="" placeholder="请输入wx_key"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>
                        <label>
                            <lable_text>wx_secret</lable_text>
                            </lable_text><input id="wx_secret" name="wx_secret" placeholder="请输入wx_secret"
                                                class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                                type="text"></label>

                        <label>
                            <lable_text>qq_id</lable_text>
                            <input id="qq_id" name="qq_id" placeholder="请输入qq_id"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>


                        <label>
                            <lable_text>qq_key</lable_text>
                            <input id="qq_key" name="qq_key" placeholder="请输入qq_key"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>

                        <label>
                            <lable_text>sina_key</lable_text>
                            <input id="sing_key" name="sina_key" placeholder="请输入sina_key"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>

                        <label>
                            <lable_text>sina_secret</lable_text>
                            <input id="sina_secret" name="sina_secret" placeholder="请输入sina_secret"
                                   class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                   type="text"></label>

                    </div>
                </div>

                <div class="form-field-outer" id="share_icon">
                    <label for="_frm-iconform-name">分享默认图标</label>
                    <input type="file" name="shareicon" id="shareicon" accept="image/*"
                           onchange="selectImage(this,'iamge_share')" multiple="multiple">
                    <img src="/images/icon_default.png" name="iamge_share" id="iamge_share" border=0/>
                    <div class="form-field-help-text">
                        <p>应用的图标要求为72*72的png图标。</p>
                        <p> 注：为了在6.0以上系统适配，图标避免使用渐变色和阴影</p>
                    </div>
                </div>

                <div class="form-field-outer">
                    <label for="_frm-iconform-name">主题颜色设置</label>
                    <div class="form-field-container">
                        <label>
                            <lable_text>colorPrimary</lable_text>
                            # <input type="text" value="33b5e5" name="colorPrimary"></label>
                        <label>
                            <lable_text>colorPrimaryDark</lable_text>
                            # <input type="text" value="33b5e5" name="colorPrimaryDark"></label>
                        <label>
                            <lable_text>colorAccent</lable_text>
                            # <input type="text" value="33b5e5" name="colorAccent"></label>
                        <label>
                            <lable_text>color_item_dark</lable_text>
                            # <input type="text" value="33b5e5" name="color_item_dark"></label>
                        <label>
                            <lable_text>color_item_normal</lable_text>
                            # <input type="text" value="33b5e5" name="color_item_normal"></label>
                    </div>
                </div>
                <div class="form-field-outer">
                    <label for="_frm-iconform-name">应用介绍</label>
                    <div class="form-field-container">
                        <textarea id="intro" name="intro" placeholder="应用介绍"
                                  class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all"
                                  type="text" style="height:60px;width:400px;vertical-align:text-top"></textarea>
                    </div>
                </div>
                <div class="form-field-outer">
                    <button type="submit" class="dragout form-button">开始打包</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.container -->
<% include resource/footer.html %>