<% include resource/header.html %>
<div class="container">
 	<div id="header">
   	 <h1>欢迎使用<%= title %></h1>
 	</div>

 	<nav class="navbar navbar-default" role="navigation">	
		  <ul class="nav navbar-nav">
		    <li class="active"><a href="">相关说明</a></li>
		    <li><a href="task">开始定制</a></li>
		    <li><a href="about">关于</a></li> 
		  </ul>

	</nav>



	<div id="page-header"> 	
	<hr/>
    	<p><a href="descripty">&lt;&lt;   定制服务使用说明</a></p>
    	<p><a href="apktool">&lt;&lt;   apktool反编译apk并回编译</a></p>
    	<p><a href="autosign">&lt;&lt;   对未签名文件进行签名</a></p>  	
    </div>



</div><!-- /.container --> 
<% include resource/footer.html %>