<% include resource/header.html %>
<div class="container">

 	<div id="header">
   	 <h1>欢迎使用<%= title %></h1>
 	</div>
	<div id="page-header"> 	
    	<p><a href="about">&lt;&lt;   定制服务使用说明</a></p>
    	<p><a href="apktool">&lt;&lt;   apktool反编译apk并回编译</a></p>
    	<p><a href="autosign">&lt;&lt;   对未签名文件进行签名</a></p>  	
		<p><a href="/task">&lt;&lt;  开始定制服务</a></p>
    </div>
</div><!-- /.container --> 
<% include resource/footer.html %>