<% include resource/header.html %>
<script  src="/javascripts/jquery-3.1.1.js"></script>
<script  src="/javascripts/jquery.validate.js"></script>
<script>
//	var image = "";
	function selectImage(file,item_id){
		console.log(file.value);
		if(!file.files||!file.files[0]){
			return;
		}
		var reader = new FileReader();
		reader.onload = function(evt){
			document.getElementById(item_id).src = evt.target.result;
//			image = evt.target.result;
		}
		reader.readAsDataURL(file.files[0]);
	}
</script>
<script>
	$().ready(function() {
	// 在键盘按下并释放及提交后验证提交表单
	  $("#addTaskForm").validate({
	    rules: {
	      appname:"required",
	      package: {
	        required: true,
	        minlength: 5
	      },
			ic_launcher:"required",
			versioncode:"required",
			versionnmae:"required",
			app_appkey:"required",
			app_appsecret:"required",
			jpush_appkey:"required",
			shareicon:"required"
	    },
	    messages: {
	      appname:"请输入应用名",
	      package: {
	      	required:"请输入应用名",
	      	minlength:"你输入的包名太短"
	      },
			ic_launcher:"请选择图标",
			versioncode:"请输入版本号",
			versionnmae:"请输入版本名称",
			app_appkey:"请输入app_appkey",
			app_appsecret:"请输入app_appsecret",
			jpush_appkey:"请输入jpush_appkey",
			shareicon:"请选择分享的图片"
	    }
	  });
	});
</script>
<style>
.error{
	color:red;
}
</style>
<div class="container">
      <div class="starter-template">

	      <div id="header">
	        <h1>欢迎使用<%= title %></h1>
	      </div>

	      <nav class="navbar navbar-default" role="navigation">	
		  <ul class="nav navbar-nav">
		    <li><a href="/">相关说明</a></li>
		    <li class="active"><a href="/task">开始定制</a></li>
		    <li><a href="/about">关于</a></li>
			  </ul>
		  </nav>

	      <div id="inputs">			
				<form role="form"  id="addTaskForm" action="task/addTask" method="post" enctype="multipart/form-data">
				<div class="form-field-outer">
					<label for="_frm-iconform-name">应用名</label>
					<div class="form-field-container">
						<input id="appname" name="appname" placeholder="请输入应用名称" value="宜昌新闻" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
					</div>
					<div class="form-field-help-text">
						应用名称最好是中文，不能包含特殊字符，长度请控制在五个字符以内，不能为空
					</div>
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">包名</label>
					<div class="form-field-container">
						<input id="package" name="package" placeholder="package" value = "com.cnhubei.ycxw" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
					</div>
					<div class="form-field-help-text">
						包名是客户端唯一标识，请以"com.cnhubei."开头，后面带上有意义的客户端表示。
					</div>
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">版本</label>
					<div class="form-field-container">
						<label>versionnmae</label><dy class="error"> *</dy><input id="versionnmae" name="versionnmae" placeholder="请输入版本名称" value="V 1.0" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text">
						<label>versioncode</label><dy class="error"> *</dy><input id="versioncode" name="versioncode" placeholder="请输入版本号" value = "10" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text">
					</div>
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">app信息</label>
					<div class="form-field-container" >
						<label>app.key</label><dy class="error"> *</dy><input id="app_appkey" name="app_appkey" placeholder="请输入app.key" value="7" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text">
						<label>app.appsecret</label><dy class="error"> *</dy>
						<input id="app_appsecret" name="app_appsecret" placeholder="请输入app.appsecret" value = "suibiantiande" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text">
						<label>jpush_appkey</label><dy class="error"> *</dy>
						<input id="jpush_appkey" name="jpush_appkey" placeholder="请输入jpush_appkey" value = "aa123456789" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text">
						<label>umeng_appkey</label><dy class="error"> *</dy>
						<input id="umeng_appkey" name="umeng_appkey" placeholder="请输入umeng_appkey" value = "bb123456789" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text">
					</div>
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">应用图标</label>
				    <input type="file" name="ic_launcher" id="ic_launcher" accept="image/*" onchange="selectImage(this,'image')" multiple="multiple">
				    <img src="/images/icon_default.png" name="image" id="image" border=0 /><dy class="error"> *</dy>
				    <div class="form-field-help-text">
						<p>应用的图标要求为72*72的png图标。</p>
						<p> 注：为了在6.0以上系统适配，图标避免使用渐变色和阴影</p>
				    </div>
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">是否支持视频</label>

					<!--<input type="radio" name="_frm-iconform-hairline" id="_frm-iconform-hairline-1" value="1" class="ui-helper-hidden-accessible">-->
					<!--<input type="radio" name="_frm-iconform-hairline" id="_frm-iconform-hairline-1" value="1" class="ui-helper-hidden-accessible">-->
				    <input type="checkbox"  id="vedio" name ="vedio">
					<!--<div class="form-field-container">-->
						<!--<div id="_frm-iconform-hairline" class=".form-field-buttonset ui-buttonset">-->
							<!--<input type="radio" name="_frm-iconform-hairline" id="_frm-iconform-hairline-1" value="1" class="ui-helper-hidden-accessible">-->
							<!--<label for="_frm-iconform-hairline-1" aria-pressed="true" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left ui-state-active" role="button" aria-disabled="false">-->
								<!--<span class="ui-button-text">On</span>-->
							<!--</label>-->
							<!--<input type="radio" name="_frm-iconform-hairline" id="_frm-iconform-hairline-0" value="0" checked="checked" class="ui-helper-hidden-accessible">-->
								<!--<label for="_frm-iconform-hairline-0" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" aria-pressed="false" role="button" aria-disabled="false">-->
									<!--<span class="ui-button-text">Off</span>-->
								<!--</label>-->
						<!--</div>-->
					<!--</div>-->
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">是否支持音频</label>
					<input type="checkbox"  id="audio" name ="audio">
				</div>


				<div class="form-field-outer">
					<label for="_frm-iconform-name">第三方分享默认图标</label>
					<input type="file" name="shareicon" id="shareicon" accept="image/*" onchange="selectImage(this,'iamge_share')" multiple="multiple">
					<img src="/images/icon_default.png" name="iamge_share" id="iamge_share" border=0/><dy class="error"> *</dy>
					<div class="form-field-help-text">
						<p>应用的图标要求为72*72的png图标。</p>
						<p> 注：为了在6.0以上系统适配，图标避免使用渐变色和阴影</p>
					</div>
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">分享appkey设置</label>
					<div class="form-field-container" >
						<label>wx_key</label>
						<input id="wx_key" name="" placeholder="请输入wx_key" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
						<label>wx_secret</label>
						<input id="wx_secret" name="wx_secret" placeholder="请输入wx_secret" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
						<label>qq_id</label>
						<input id="qq_id" name="qq_id" placeholder="请输入qq_id" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
						<label>qq_key</label>
						<input id="qq_key" name="qq_key" placeholder="请输入qq_key" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
						<label>sina_key</label>
						<input id="sing_key" name="sina_key" placeholder="请输入sina_key" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
						<label>sina_secret</label>
						<input id="sina_secret" name="sina_secret" placeholder="请输入sina_secret" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
					</div>
				</div>

				<div class="form-field-outer">
					<label for="_frm-iconform-name">主题颜色设置</label>
					<div class="form-field-container" >
						<label>colorPrimary</label>
						<input id="colorPrimary" name="colorPrimary" placeholder="请输入colorPrimary" value="#1976D2" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
						<label>colorPrimaryDark</label>
						<input id="colorPrimaryDark" name="colorPrimaryDark" placeholder="请输入colorPrimaryDark" value="#1976D2" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
						<label>colorAccent</label>
						<input id="colorAccent" name="colorAccent" placeholder="请输入colorAccent" value="#1976D2" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
						<label>color_item_dark</label>
						<input id="color_item_dark" name="color_item_dark" placeholder="请输入color_item_dark" value="#1976D2" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
						<label>color_item_normal</label>
						<input id="color_item_normal" name="color_item_normal" placeholder="请输入color_item_normal" value="#1976D2" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text"><dy class="error"> *</dy>
					</div>
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">应用介绍</label>
					<div class="form-field-container">
						<textarea  id="intro" name="intro" placeholder="应用介绍" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text" style="height:60px;width:400px;vertical-align:text-top"></textarea>
					</div>
				</div>
				<div class="form-field-outer">
					<button type="submit" class="dragout form-button"  >开始打包</button>
				</div>
				</form>
		  </div>
      </div>
</div><!-- /.container --> 
<% include resource/footer.html %>