<% include resource/header.html %>
<script  src="/javascripts/jquery-3.1.1.js"></script>
<script  src="/javascripts/jquery.validate.js"></script>
<script>
	var image = "";
	function selectImage(file){	
		console.log(file.value);
		
		if(!file.files||!file.files[0]){
			return;
		}
		var reader = new FileReader();
		reader.onload = function(evt){
			document.getElementById("image").src = evt.target.result;
			image = evt.target.result;
		}
		reader.readAsDataURL(file.files[0]);
	}
</script>
<script>
	$().ready(function() {
	// 在键盘按下并释放及提交后验证提交表单
	  $("#addTaskForm").validate({
	    rules: {
	      appname:"required",
	      package: {
	        required: true,
	        minlength: 5
	      },
	      upload:"required"
	    },
	    messages: {
	      appname:"请输入应用名",
	      package: {
	      	required:"请输入应用名",
	      	minlength:"你输入的包名太短"
	      },
	      upload:"请选择图标"
	    }
	  });
	});
</script>
<style>
.error{
	color:red;
}
</style>
<div class="container">
      <div class="starter-template">

	      <div id="header">
	        <h1>欢迎使用<%= title %></h1>
	      </div>

	      <nav class="navbar navbar-default" role="navigation">	
		  <ul class="nav navbar-nav">
		    <li><a href="/">相关说明</a></li>
		    <li class="active"><a href="/task">开始定制</a></li>
		    <li><a href="/about">关于</a></li> 
		  </nav>

	      <div id="inputs">			
				<form role="form"  id="addTaskForm" action="task/addTask" method="post" enctype="multipart/form-data">
				<div class="form-field-outer">
					<label for="_frm-iconform-name">应用名</label>
					<div class="form-field-container">
						<input id="appname" name="appname" placeholder="请输入应用名称" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text">
					</div>
					<div class="form-field-help-text">
						应用名称最好是中文，不能包含特殊字符，长度请控制在五个字符以内，不能为空
					</div>
				</div>				
				<div class="form-field-outer">
					<label for="_frm-iconform-name">包名</label>
					<div class="form-field-container">
						<input id="package" name="package" placeholder="package" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text">
					</div>
					<div class="form-field-help-text">
						包名是客户端唯一标识，请以"com.cnhubei."开头，后面带上有意义的客户端表示。
					</div>
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">图标</label>
				    <input type="file" name="upload" id="upload" accept="image/*" onchange="selectImage(this)" multiple="multiple">
				    <img src="/images/icon_default.png" name="image" id="image" border=0 id="img"/>
				    <p class="help-block">应用的图标要求为72*72的png图标。</p>
				    <p class="help-block"> 注：为了在6.0以上系统适配，图标避免使用渐变色和阴影</p>
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">是否支持第三方登录</label>
				    <input type="checkbox"  id="ishare" name ="ishare">
				    <p class="help-block">请选择是否支持第三方登录</p>
				</div>
				<div class="form-field-outer">
					<label for="_frm-iconform-name">应用介绍</label>
					<div class="form-field-container">
						<textarea  id="intro" name="intro" placeholder="应用介绍" class="form-text ui-widget ui-widget-content ui-autocomplete-input ui-corner-all" type="text" style="height:60px;width:400px;vertical-align:text-top"></textarea>
					</div>
				</div>
				<div class="form-field-outer">
					<button type="submit" class="dragout form-button"  >开始打包</button>
				</div>
				</form>
		  </div>
      </div>
</div><!-- /.container --> 
<% include resource/footer.html %>