<% include ../resource/header.html %>
<div class="container">

    <div id="header">
        <h1>欢迎使用<%= title %></h1>
    </div>
      <div id="page-header">
        <div id="breadcrumb">
              <p>
                <a href="Javascript:window.history.go(-1)">&lt;&lt; 返回</a>
              </p>
        </div>

        <hr/>

        <h1>apktool反编译apk并回编译</h1>
        <h2>1.下载apktool工具：</h2>
        <p>apktool官方网站：<a href="https://ibotpeaches.github.io/Apktool/" target="_blank">https://ibotpeaches.github.io/Apktool/</a></br>
        <h2>2.安装apktool并配置apktool环境变量</h2>
        <p>安装方法：<a href="https://ibotpeaches.github.io/Apktool/install/" target="_blank">https://ibotpeaches.github.io/Apktool/install</a></p>
        <h2>3.用apktool反编译apk文件</h2>
        <pre><code>apktool d apkname.apk -o foldername   
        </code></pre>

        <p><strong>命令说明：</strong> </br></p>
        <ul>
        <li>apkname.apk： 是apk文件</li>
        <li>-o：文件输出</li>
        <li>foldername:apk反编译的文件夹</li>
        </ul>
        <p>执行完上面语句后，如果没有出现错误提示，则成功反编译了.</p>
        <h2>4.对foldername文件进行回编译</h2>
        <pre><code> apktool b foldername
        </code></pre>

        <p>其中foldername即放反编译结果的目录，执行成功后会在该目录的dist目录下有一个重新打包后的apk文件。
        当然这个文件是没有签名的。</p>
        <h2>5.对apk文件进行签名</h2>
        <p>执行命令：</p>
        <pre><code>jarsigner -digestalg SHA1 -sigalg MD5withRSA -keystore android.keystore -storepass android -signedjar enhancedsign.apk enhanced.apk othername
        </code></pre>

        <p>关于该命令的详细说明请查看我的另外一篇文章。</p>
        <h2>6.apktool反编译后回编译，签名后，安装提示“解析安装包失败”</h2>    
        <p>一直回编译失败，此问题困扰了我很久，原因在于安装apktool 2.2的时候，下载了最新版本的apktool，但是没有把jar文件改名为apktool.jar.</p>
      </pre>
    </div>
</div><!-- /.container --> 
<% include ../resource/footer.html %>
