<% include ../resource/header.html %>
<div class="container">

    <div id="header">
        <h1>欢迎使用<%= title %></h1>
    </div>
      <div id="page-header">
        <h1>apktool反编译apk并回编译</h1>
        <h2>1.下载apktool工具：</h2>
        <p>apktool官方网站：<a href="https://ibotpeaches.github.io/Apktool/" title="https://ibotpeaches.github.io/Apktool/">https://ibotpeaches.github.io/Apktool/</a></br>
        本地下载地址：<a href="http://pan.baidu.com/s/1jIdQx6m">http://pan.baidu.com/s/1jIdQx6m</a>
        </br>
        提取密码：sc8x</p></p>
        <h2>2.解压apktool并配置apktool环境变量</h2>
        <h2>3.用apktool反编译apk文件</h2>
        <pre><code>apktool d apkname.apk -o foldername   
        </code></pre>

        <p><strong>命令说明：</strong> </br></p>
        <ul>
        <li>apkname.apk： 是apk文件</li>
        <li>-o：文件输出</li>
        <li>foldername:apk反编译的文件夹</li>
        </ul>
        <p>执行完上面语句后，如果没有出现错误提示，则成功反编译了.</p>
        <h2>4,对foldername文件进行回编译</h2>
        <pre><code> apktool b foldername
        </code></pre>

        <p>其中foldername即放反编译结果的目录，执行成功后会在该目录的dist目录下有一个重新打包后的apk文件。
        当然这个文件是没有签名的。</p>
        <h2>5,对apk文件进行签名</h2>
        <p>执行命令：</p>
        <pre><code>jarsigner -digestalg SHA1 -sigalg MD5withRSA -keystore android.keystore -storepass android -signedjar enhancedsign.apk enhanced.apk othername
        </code></pre>

        <p>关于该命令的详细说明请查看我的另外一篇文章。</p>

      </pre>
    </div>
</div><!-- /.container --> 
<% include ../resource/footer.html %>
